@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --text-clr: #665F5F;
  --secondary-text-clr: #B0B3C1;
  --kaito: #3366CC;
  --mafu: #8888CC;
  --shizu: #99EEDD;
  --airi: #FFAACC;
  --angle: 0deg;
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}


.cs-gradient {
  background-image: linear-gradient(220deg, var(--kaito), var(--mafu));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-group {
  list-style-type: none;
  font-size: 24px;
  padding-left: 0px;
}

.nav-group > li > a {
  text-decoration: none;
  > span {
    color: var(--text-clr);
  }
}
.nav-group > li > a > svg {
  fill: var(--mafu);
  margin-right: 5px;
}

.arrow-on {
  padding-left: 0px;
  padding-bottom: 5px;
  background-color: var(--secondary-text-clr);
  border: none;
  background-color: #fff;
  span {
    font-size: 24px;
    color: var(--text-clr);
  }
  svg {
    fill: var(--mafu);
    margin-right: auto;
    rotate: 0deg;
    transition: 300ms ease-in-out;
  }
}

.arrow-off {
  padding-left: 0px;
  padding-bottom: 5px;
  background-color: var(--secondary-text-clr);
  border: none;
  background-color: #fff;
    span {
    font-size: 24px;
    color: var(--text-clr);
  }
  svg {
    fill: var(--mafu);
    margin-right: auto;
    transition: 300ms ease-in-out;
    rotate: 180deg;
  }

}

.card-button-active {
  background: linear-gradient(var(--angle), var(--kaito), var(--mafu));
  animation: rotateGradient 2s linear infinite;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #727272;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card-button-inactive {
  background: linear-gradient(var(--angle), var(--shizu), var(--airi));
  animation: rotateGradient 2s linear infinite;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #727272;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.card .card-title-active {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
  color: #cfcfcf;
}

.card .card-description-active {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #cfcfcf;
}

.card .card-title-inactive {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
  color: #1d1c1c;
}

.card .card-description-inactive {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #1d1c1c;
}

.button-on {
  background: linear-gradient(var(--angle), #22c, #627);
  animation: rotateGradient 2s linear infinite;
  color: #fefefe;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.button-off {
  background: linear-gradient(var(--angle), #9ED, #FAC);
  animation: rotateGradient 2s linear infinite;
  color: #101010;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotateGradient {
  from {--angle: 0deg;}
  to {--angle: 360deg;}
}

@property --shadow-rotation {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}
