:root {
  --text-clr: #665F5F;
  --secondary-text-clr: #B0B3C1;
  --angle: 0deg;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.cs-gradient {
  background-image: linear-gradient(220deg, #22c, #627);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-group, h3{
  list-style-type: none;
}

.card {
  border: 1px solid #2e2e2e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #727272;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
  color: #383838;
}

.card .card-description {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #404040;
}



.button {
  background: linear-gradient(var(--angle), #22c, #627);
  animation: rotateGradient 5s linear infinite;
  color: #fefefe;
  font-weight: 150;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

@keyframes rotateGradient {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
