:root {
  --text-clr: #665F5F;
  --secondary-text-clr: #B0B3C1;
}

.card {
  border: 1px solid #2e2e2e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #727272;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
  color: #383838;
}

.card .card-description {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #404040;
}

.button {
  background-color: #99EEDD;
  color: #292929;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
